*{
    margin: 0;
    padding: 0;
}
ul,li{
    list-style: none;
    padding: 0;
    margin: 0;
    
}
body{
    background:#ededed;
    min-height: 100vh;
}
.clearfix{
    zoom: 1;
    &:after{
        content: '';
        clear: both;
        height: 0;
        display: block;
    }
}
.nav-first{
    background: #1a1a1a;
    height: 100px;
    .nav-first-container{
        width: 1220px;
        margin: 0 auto;
        .nav-logo{
            float: left;
            margin-top: 30px;
             h1{
                 a{
                    display: block;
                    height: 50px;
                    width: 50px;
                    text-indent: -9999px;
                    background: url(http://static.smartisanos.cn/index/assets/images/global-logo-red@2x.85550cd7bec73c98adacee227ba6a8a0.png) no-repeat;
                    background-size: cover;
                    background-position: 0px 0px;
                     
                }
            }
        }
        .nav-list{
            float: left;
            line-height: 28px;
            margin: 36px 0 0 181px;
            ul{
                 li{
                    float: left;
                    a{
                        color: #c8c8c8;
                        display: block;
                        font-size: 14px;
                        padding: 0 25px;
                        text-decoration: none;
                    }
                }

            }
        }
        .nav-aside{
            float: right;
            line-height: 28px;
            margin: 36px 0 0 0;
            ul{
                li{
                    float: left;
                    position: relative;
                    a{
                        color: #c8c8c8;
                        display: block;
                        font-size: 14px;
                        padding: 0 25px;
                        text-decoration: none;
                    }
                    &.shop-car{
                        padding-left: 10px;
                        &:before{ 
                            content: '';
                            display: block;
                            width: 25px;
                            height: 20px;
                            position: absolute;
                            left: 0;
                        
                        background: url(http://static.smartisanos.cn/index/assets/images/account-icon@2x.32d87deb02b3d1c3cc5bcff0c26314ac.png) no-repeat;
                          background-position:-3px -20px
                        }
                   
                        &:after{ 
                            display: none;
                            content: '';
                            width: 0;
                            position: relative;
                            left: 0;
                            top: -15px;
                            z-index: 99;
                            border: 15px solid transparent;
                            border-bottom-color: #fff;
                        }
                   &:hover{
                    &:after{
                        display: block;
                    }
                       .car{
                           display: block;
                       }
                   }
                    .car{
                        display: none;
                        position: absolute;
                        right: 0;
                        top: 40px;
                        background: #fff;
                        width: 360px;
                        height: 314px;
                        border-radius: 10px;
                        text-align: center;
                        z-index: 99;
                        box-shadow: 0 0 10px #ddd;
                        img{
                            display: block;
                            margin: 70px auto 0;
                            height: 62px;
                        }
                        h5{
                            font-size: 16px;
                            color: #555;
                            margin-top: 20px;
                            margin-bottom: 10px;
                        }
                        p{
                            font-size: 14px;
                            color: #808080;
                            
                        }
                    }
                }
                }
            }
        }
    }
}
.nav-sub{
    .nav-sub-container{
        width: 1220px;
        margin: 0 auto;
        
        ul{
            padding: 31px 0;
            li{
                float: left;
                line-height: 28px;
               
                a{
                    text-decoration: none;
                    padding-left: 10px;
                    margin: 0 20px;
                    color: #666;
                    font-size: 14px;
                }
            }
        }
    }
}
.main{
    min-height: 20vh;
    .main-img{
        margin: 0 auto;
        width: 1222px;
        height: 500px;
        margin-bottom: 20px;
img{
    width: 100%;
    height: 100%;
}
    }
    .list-1{
        width: 1222px;
        margin: 0 auto;
        border: 1px solid rgba(0,0,0,.1);
        box-sizing: border-box;
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 20px;
       ul{
            li{
                float: left;
                text-align: center;
                height: 200px;
                border-right: 1px solid rgba(0,0,0,.1);
                box-sizing: border-box;
                img{
                    width: 304px;
                    height: 200px;
                    
                }
            }
            li:last-child{
                border-right: none;
            }
        }
    }
    .hot-product{
        width: 1222px;
        margin: 0 auto;
        border: 1px solid rgba(0,0,0,.1);
        border-radius: 10px;
        background: white;
        margin-bottom: 20px;
        .hot-title{
            height: 60px;
            border-bottom: 1px solid rgba(0,0,0,.1);
            h5{
                width: 1190px;
                font-size: 100%;
                font-weight: 400;
                line-height: 60px;
                color: #666;
                font-size: 18px;
                margin-left: 30px;
            }
        }
        .hot-list{
            ul{
                li{
                    float: left;
                    position: relative;
                    box-sizing: border-box;
                    width: 25%;
                    height: 429px;
                    text-align: center;
                    border-right: 1px solid #ddd;
                &:hover{
                    box-shadow: 0px 0px 30px   #ddd inset;
                .details{
                    display: block;
                }
                }
                img{
                    margin-top: 20px;
                }
                    .info{
                        position: absolute;
                        top: 274px;
                        left: 0;
                        box-sizing: border-box;
                        padding: 0 10px;
                        width: 100%;
                        h6{
                            font-size: 16px;
                            line-height: 1.2;
                            color: #424242;
                            font-weight: 400;
                        }
                        p{
                            padding-top: 7px;
                            font-size: 12px;
                            line-height: 1.2;
                            color: #b2b2b2;
                        }
                    }
                    a{
                        display: block;
                        &:hover{
                            
                        }
                p{
                    display: inline-block;
                    position: absolute;
                    top: 350px;
                    left: 0;
                    width: 100%;
                    font-size: 18px;
                    line-height: 1.2;
                    text-align: center;
                    color: #de4037;
                }
                .details{
                    position: absolute;
                    top: 350px;
                    left: 0;
                    //width: 100%;
                    z-index: 9;
                    background: white;
                    margin: 0 20px;
                    width: 260px;
                    display: none;
                    span{
                        width: 100px;
                        height: 30px;
                        border: 1px solid #DDD;
                        padding: 5px 10px;
                        font-size: 12px;
                        color: #555555;
                    }    
                }
                }
            }
            }
        }
    }
    .official-selection{
        width: 1222px;
        margin: 0 auto;
        border: 1px solid rgba(0,0,0,.1);
        border-radius: 10px;
        background: white;
        margin-bottom: 20px;
        .official-title{
            height: 60px;
            border-bottom: 1px solid rgba(0,0,0,.1);
            h5{
                width: 1190px;
                font-size: 100%;
                font-weight: 400;
                line-height: 60px;
                color: #666;
                font-size: 18px;
                margin-left: 30px;
            }
        }
        .official-list{
            ul{
                li{
                    float: left;
                    position: relative;
                    box-sizing: border-box;
                    width: 25%;
                    height: 429px;
                    text-align: center;
                    border-right: 1px solid #ddd;
                    border-bottom: 1px solid #ddd;
                    &:first-child{
                        width: 50%;
                        img{
                            width: 100%;
                            height: 100%;
                            margin: 0;
                        }
                    }
                    &:hover{
                        box-shadow: 0px 0px 30px   #ddd inset;
                        border-radius: 0;
                    .details{
                        display: block;
                    }
                    }
                    img{
                        display: block;
                        margin: 50px auto;
                        width: 206px;
                        height: 206px;
                    }
                    .official-info{
                        h6{
                            font-size: 16px;
                            line-height: 1.2;
                            color: #424242;
                            font-weight: 400;
                        }
                        p{
                            padding-top: 7px;
                            font-size: 12px;
                            line-height: 1.2;
                            color: #b2b2b2;
                        }
                    }
                    .official-price{
                        display: inline-block;
                        position: absolute;
                        top: 376px;
                        left: 0;
                        width: 100%;
                        font-size: 18px;
                        line-height: 1.2;
                        text-align: center;
                        color: #de4037;
                        font-weight: 700;
                    }
                    .details{
                        position: absolute;
                        top: 376px;
                        left: 0;
                        z-index: 9;
                        background: white;
                        margin: 0 20px;
                        width: 260px;
                        display: none;
                        span{
                            width: 100px;
                            height: 30px;
                            border: 1px solid #DDD;
                            padding: 5px 10px;
                            font-size: 12px;
                            color: #555555;
                        }    
                    }
                }
            }
        }
    }
    .brand-selection{
        width: 1222px;
        margin: 0 auto;
        border: 1px solid rgba(0,0,0,.1);
        border-radius: 10px;
        background: white;
        margin-bottom: 20px;
        .brand-title{
            height: 60px;
            border-bottom: 1px solid rgba(0,0,0,.1);
            h5{
                width: 1190px;
                font-size: 100%;
                font-weight: 400;
                line-height: 60px;
                color: #666;
                font-size: 18px;
                margin-left: 30px;
            }
        }
        .brand-list{
            ul{
                li{
                    float: left;
                    position: relative;
                    box-sizing: border-box;
                    width: 25%;
                    height: 429px;
                    text-align: center;
                    border-right: 1px solid #ddd;
                    border-bottom: 1px solid #ddd;
                    &:first-child{
                        width: 50%;
                        img{
                            width: 100%;
                            height: 100%;
                            margin: 0;
                        }
                    }
                    &:hover{
                        box-shadow: 0px 0px 30px   #ddd inset;
                    .details{
                        display: block;
                    }
                    }
                    .badge-container{
                        position: absolute;
                        top: 20px;
                        right: 20px;
                        span{
                            border: 1px solid #ffe57a;
                            color: #e6b217;
                            background: #fffbe5;
                            box-shadow: 0 1px 3px 0 rgba(0,0,0,.05);
                            border-radius: 14px;
                            font-size: 12px;
                            width: 56px;
                            padding: 5px 10px;
                        }
                    }
                    img{
                        display: block;
                        margin: 50px auto;
                        width: 206px;
                        height: 206px;
                    }
                    .brand-info{
                        h6{
                            font-size: 16px;
                            line-height: 1.2;
                            color: #424242;
                            font-weight: 400;
                        }
                        p{
                            padding-top: 7px;
                            font-size: 12px;
                            line-height: 1.2;
                            color: #b2b2b2;
                        }
                    }
                    .brand-price{
                        display: inline-block;
                        position: absolute;
                        top: 376px;
                        left: 0;
                        width: 100%;
                        font-size: 18px;
                        line-height: 1.2;
                        text-align: center;
                        color: #de4037;
                        font-weight: 700;
                    }
                    .details{
                        position: absolute;
                        top: 376px;
                        left: 0;
                        z-index: 9;
                        background: white;
                        margin: 0 20px;
                        width: 260px;
                        display: none;
                        span{
                            width: 100px;
                            height: 30px;
                            border: 1px solid #DDD;
                            padding: 5px 10px;
                            font-size: 12px;
                            color: #555555;
                        }    
                    }
                }
            }
        }
    }
    .trends{
        width: 1220px;
        margin: 0 auto;
        border: 1px solid rgba(0,0,0,.1);
        border-radius: 10px;
        background: white;
        margin-bottom: 20px;
        overflow: hidden;
        .trend-title{
            height: 60px;
            border-bottom: 1px solid rgba(0,0,0,.1);
            h5{
                width: 1190px;
                font-size: 100%;
                font-weight: 400;
                line-height: 60px;
                color: #666;
                font-size: 18px;
                margin-left: 30px;
            }
        }
        .trend-list{
            ul{
                li{
                    float: left;
                    height: 200px;
                    box-sizing: border-box;
                    text-align: center;
                    img{
                        width: 305px;
                        height: 200px;
                    }
                }
            }
        }
    }
    .applications{
        width: 1220px;
        margin: 0 auto;
        border: 1px solid rgba(0,0,0,.1);
        border-radius: 10px;
        background: white;
        margin-bottom: 20px;
        overflow: hidden;
        .app-title{
            height: 60px;
            border-bottom: 1px solid rgba(0,0,0,.1);
            h5{
                width: 1190px;
                font-size: 100%;
                font-weight: 400;
                line-height: 60px;
                color: #666;
                font-size: 18px;
                margin-left: 30px;
            }
        }
        .app-list{
            ul{
                li{
                    float: left;
                    width: 25%;
                    height: 360px;
                    box-sizing: border-box;
                    border-right: 1px solid #ddd;
                    text-align: center;
                    .app-img{
                        margin: 72px auto 0;
                        width: 90px;
                        height: 90px;
                        background: url(http://static.smartisanos.cn/index/assets/images/app-icon-sprite.09cf0f99d091277532779a2b2971e708.png) no-repeat;
                        background-size: auto 90px;
                    }
                    .app-description{
                        margin-top: 30px;
                        box-sizing: border-box;
                        padding: 0 10px;
                        width: 100%;
                        h6{
                            font-size: 16px;
                            line-height: 1.2;
                            color: #424242;
                            font-weight: 400;
                        }
                        p{
                            margin-top: 18px;
                            span{
                                display: block;
                                margin-top: 6px;
                                font-size: 12px;
                                color: #b2b2b2;
                            }
                        }
                    }
                    .platform{
                        text-align: center;
                        span{
                            position: relative;
                            &:nth-child(1){
                                margin-right: 25px;
                                
                                &:before{
                                    content:"" ;
                                    display: block;
                                    width: 16px;
                                    height: 16px;
                                    position: absolute;
                                    left: 0;
                                    top: 50%;
                                    margin-top:-8px; 
                                    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAXklEQVR4AWOgNnjA/8D2QeKD9gdrH1x88BUhnP6gGyh04cGhBwUP/iMgXAFc6ALtFCyAwqYHbkASDgkqoKsjCx9MfbDjwe0Hp9EVYAa10APnBxnAcF3/4PKD79SJPgC8y+Fmo46kggAAAABJRU5ErkJggg==');
                                }
                                &:after{
                                    content:"" ;
                                    display: block;
                                    width: 1px;
                                    height: 8px;
                                    background: #ddd;
                                    position: absolute;
                                    right:-20px;
                                    top: 50%;
                                    margin-top:-4px; 
                                }
                            }
                            &:nth-child(2){
                                margin-right: 25px;
                                
                                &:before{
                                    content:"" ;
                                    display: block;
                                    width: 16px;
                                    height: 16px;
                                    position: absolute;
                                    left: 0;
                                    top: 50%;
                                    margin-top:-8px; 
                                    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAmUlEQVR4AWMgGTzgfzD7wUR8CrY8+P8gHre0GlB6+QNmTAmuB2UPNj3oexD5IPNBwYO1DxY8sEOWFnhwCagTFf594I9QMA0ujICrH7AgFDzFokAN2Yq/WBSwIyt4gakA1ZGbsCi48EAUoSAOKIAJzyMUsD24j0VBPLIlrg/+oElve8CIGpYRD14+uPOgHRyOXx5sfMBPZOwCAHVg3sh2l3OaAAAAAElFTkSuQmCC');
                                }
                               
                            }
                        } 
                    }
                }
            }
        }
    }
}
.footer-sub{
    background: #fafafa;
    border-top: 1px solid #e6e6e6;
    display: block;
    .footer-sub-container{
        width: 1220px;
        margin: 0 auto;
        height: 100px;
        padding: 100px 0 32px;
        border-bottom: 1px solid #e6e6e6;
        position: relative;
        ul{
            float: left;
        }
        .service{
            li{
                float: left;
                width: 149px;
                line-height: 1;
                h3{
                    color: #646464;
                    font-size: 12px;
                    font-weight: 400;
                }
                
                ul{
                    li{
                        clear: both;
                        color: #969696;
                        font-size: 12px;
                        padding: 6px 0;
                    }
                }
            }
        }
        .hot-line{
            float: right;
            line-height: 34px;
            .call{
                font-size: 30px;
                color: #646464;
                text-align: right;
            }
            .time{
                width: 241px;
                font-size: 12px;
                line-height: 18px;
                color: #c3c3c3;
                text-align: right;
                margin-top: 5px;
            }
            li{
                a{
                    float: right;
                    width: 102px;
                    height: 32px;
                    line-height: 32px;
                    font-size: 14px;
                    margin-top: 8px;
                    text-align: center;
                    color: #5079d9;
                    border: 1px solid #dcdcdc;
                    border-radius: 5px
                }
            }
        }
    }
}
.footer{
    background: #fafafa;
    .footer-container{
        width: 1220px;
        margin: 0 auto;
        .coperight{
            color: #434d55;
            font-size: 12px;
            padding: 40px 0;
           h4{
                float: left;
                height: 15px;
                line-height: 15px;
                color: #757575;
                font-size: 100%;
                font-weight: 400;
            }
            h5{
                float: left;
                height: 15px;
                line-height: 15px;
                color: #757575;
                font-size: 100%;
                font-weight: 400;
                margin-left: 5px;
                margin-right: 10px;
            }
            ul{
                
                li{
                    float: left;
                    line-height: 12px;
                    color: #5079d9;
                    padding: 1px 10px 0;
                    border-left: 1px solid #ccc;
                }
            }
            h6{
                clear: both;
                padding: 10px 0 0;
                height: 15px;
                font-weight: 400;
                a{
                    color: #bdbdbd;
                    font-size: 12px;
                    height: 12px;
                    line-height: 1;
                    span{
                        margin-right: 20px;
                    }
                }
            }
    }
    }
}